# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/release

# Coverage reports
coverage/
*.lcov

# Playwright
/playwright-report/
/test-results/
/blob-report/

# Temporary files
/work/
*.tmp

# Ignore everything in public/download except .gitkeep
public/download/*
!public/download/.gitkeep

# Ignore VSCode workspace file
*.code-workspace
